<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login Form</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="loginForm.errors" class="alert alert-danger" role="alert">
        Email or Password is incorrect!
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input formControlName="email" type="email" class="form-control"
          [ngClass]="{'is-invalid': f.email.errors && (f.email.touched || f.email.dirty)}" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Email">

        <div *ngIf="f.email.errors && (f.email.touched || f.email.dirty)" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            Email is required
          </div>
          <div *ngIf="f.email.errors.email">
            Must be an email
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" class="form-control"
          [ngClass]="{'is-invalid': f.password.errors && (f.password.touched || f.password.dirty)}"
          id="exampleInputPassword1" placeholder="Password">
        <div *ngIf="f.password.errors && (f.password.touched || f.password.dirty)" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <button [disabled]="loading" type="submit" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
    </form>
  </div>
</div>